.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: $bg-header;

  &__wrapper {
    max-width: 100%;
    padding: 20px 40px;
    display: flex;

    @media (max-width: $screen-mobile-l-width) {
      max-width: 100%;
    }
  }

  &__logo-link {
    @include fontRZ-regular;
    font-size: calc(0.7rem + 1.1vw);

    span {
      transition: color 0.8s;
    }

    &:hover span {
      color: $font-explore-hover;
    }
  }

  // Button open and close in nav-menu in mobile width
  &__nav-button {
    display: none;
    z-index: 15;
    margin-left: auto;

    @media (max-width: $screen-mobile-l-width) {
      display: inline-block;
      background-color: transparent;
      border: none;
      height: 20px;
      width: 40px;
      cursor: pointer;
      position: fixed;
        right: 6%;
        top: 22px;

      &:focus {
        outline: none;
      }

    // Button - when menu is closed
      &-line {
        position: relative;
        display: block;
        width: 24px;
        height: 2px;
        background-color: $nav-underline;
        transition: all .3s;
      }

      &-line::before,
      &-line::after {
        content: '';
        position: absolute;
        display: block;
        width: 24px;
        height: 2px;
        background-color: $nav-underline;
        margin-top: 4px;
        transition: all .3s;
      }

      &-line::after {
        margin-top: 8px;
        width: 16px;
        right: 0;
      }

      //Button - when menu is open
      &--open {
        position: fixed;

        .header__nav-button-line {
          transform: rotate(45deg);
        }

        .header__nav-button-line::before {
          opacity: 0;
        }

        .header__nav-button-line::after {
          content: '';
          width: 24px;
          transform: rotate(-90deg);
          top: -8px;
        }
      }
    }
  }

  &__nav-wrapper {
    margin-left: auto;
    display: flex;

    @media (max-width: $screen-mobile-l-width) {
      transform: translateY(-150%);
      overflow: hidden;
      width: 100%;
      height: 100vh;
      background-color: $bg-main;
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      flex-direction: column;
      transition: all 1s ease;
    }
  }

  &__nav {
    display: flex;

    @media (max-width: $screen-mobile-l-width) {
      flex-direction: column;
      align-items: center;
      margin-top: 80px;
    }
  }

  &__nav-item {
    flex-shrink: 0;
    font-size: calc(0.5rem + 1.1vw);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1.3px;
      background-color: $nav-underline;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    @media (max-width: $screen-mobile-l-width) {
      font-size: calc(1rem + 5vw);
      margin-top: 40px;
    }
  }

  &__nav-item + &__nav-item {
    margin-left: 40px;

    @media (max-width: $screen-mobile-l-width) {
      margin-left: 0;
    }
  }

  &__user {
    margin-left: 50px;

    @media (max-width: $screen-mobile-l-width) {
      margin: 50px auto;
    }
  }

  &__user-link {
    path,
    circle {
      transition: stroke 0.5s ease;
    }

    &:hover path,
    &:hover circle {
      stroke: $font-city-page-hover;
    }
  }
}

//If header have 'white' class - font color is white and background is dark//
.header--white {
  background: linear-gradient(180deg, rgba(0,0,0,0.8295693277310925) 0%, rgba(0,0,0,0.3449754901960784) 50%, rgba(0,0,0,0) 100%);
  color: $font-white;

  .header__nav-item {
    &::after {
      background-color: $nav-underline-white;
    }
  }

  .header__user-link {
    path,
    circle {
      stroke: $nav-underline-white;
    }
    &:hover path,
    &:hover circle {
      stroke: $font-city-page-hover;
    }
  }

  .header__nav-button {
    @media (max-width: $screen-mobile-l-width) {
    // Button - when menu is closed
      &-line {
        background-color: $nav-underline-white;
        transition: all .3s;
      }

      &-line::before,
      &-line::after {
        background-color: $nav-underline-white;
      }
    }
  }

  .header__nav-wrapper {
    @media (max-width: $screen-mobile-l-width) {
      background-color: $city-page-bg;
    }
  }
}

// Open menu in mobile width on button click ///

.header__nav-button--open + .header__nav-wrapper {
  @media (max-width: $screen-mobile-l-width) {
    transform: translateY(0);
    opacity: 1;
    position: fixed;
  }
}
