.info {
  &__wrapper {
    display: flex;
    justify-content: center;

    @media (max-width: $screen-mobile-l-width) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__facts {
    @include fontRZ-regular;
    max-width: 30%;

    @media (max-width: $screen-mobile-l-width) {
      max-width: 70%;
    }
  }

  &__fact {
    font-size: calc(1rem + 1.7vw);
    line-height: calc(20px + 1.2vw);
    margin-bottom: 20px;
  }

  &__wiki {
    @include fontRZ-regular;
    font-size: calc(0.2rem + 1.2vw);
    max-width: 30%;
    margin-left: 20px;

    @media (max-width: $screen-mobile-l-width) {
      max-width: 70%;
      margin-left: 0;
      font-size: calc(1rem + 0.5vw);
    }
  }
}

